.item {
  position: relative;
  padding: 10px 20px 10px 10px ;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(186, 220, 250);
  border: none;
  color: rgb(43, 42, 42);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px 8px;
  cursor: pointer;
  display: none;
  width: 30px;
  border-radius: 50%;
}

.item:hover .delete-btn {
  display: block;
}

.div {
  display: flex;
}

.item:hover {
  padding-right: 40px;
  background-color: rgb(164, 245, 164);
}

.inp {
  border-bottom: 0.5px solid gray;
  width: 100%;
  outline: none;  
}

.chat {
 padding-bottom: 80px; 
}

.inpAdd{
  position: absolute;
  top: 90%;
  width: 40%;
  left: 30%;
  z-index: 3;
  display: flex;
  position: fixed;
  background-color: white;
  padding: 15px 20px;
  border-radius: 20px;
}
.save{
  width: 30px;
}
.save-btn {
  background: none;
  border: none;
}

.save.loading {
  width: 20px;
  height: 20px;
}
@media (max-width:1000px) {
   .inpAdd{
    width: 60%;
    left: 20%;
   }
}